export default {
    apiKey: "AIzaSyD83R-3miubOQaksXbZerIaHqLtikloVbw",
    authDomain: "portfolioapp-4a9ef.firebaseapp.com",
    databaseURL: "https://portfolioapp-4a9ef.firebaseio.com",
    projectId: "portfolioapp-4a9ef",
    storageBucket: "portfolioapp-4a9ef.appspot.com",
    messagingSenderId: "221294010905",
    appId: "1:221294010905:web:21bf2bb02371403570c088"
}